@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$background-main: rgb(44,
59,
64);
$background-wrapper: rgb(200,
200,
195);
$font-family-body: "Poppins",
sans-serif;
$background-btn: rgb(65,
79,
87);
$color-text: #fff;
$color-text-logo: rgb(255,
0,
0);
$max-width: ("else": 98.4%,
"sm": 97.4%,
"md": 95.4%,
"lg": 93.4%,
"xl": 91.4%,
);
@mixin reponsive($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

@mixin displayFlex($justify,
$align,
$row: true) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    @if $row {
        flex-direction: row;
    }
    @else {
        flex-direction: column;
    }
}

@mixin setupBackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin styleBtn {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: $color-text;
    font: {
        family: "Poppins", sans-serif;
        size: 62.5%;
    }
}

* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

.header {
    background-color: $background-main;
    height: 6em;
    padding: 0.5em;
    box-sizing: border-box;
    &-container {
        @include displayFlex(unset,
        center,
        true);
        margin: 0 auto;
        width: map-get($max-width, "xl");
    }
    &-search {
        @include styleBtn;
        margin-left: auto;
        padding: 0.6em 1em;
        background-color: $background-btn;
        border-radius: 15px;
        color: rgba(255, 255, 255, 0.7);
        input {
            outline: none;
            background-color: unset;
            border: none;
            text-transform: capitalize;
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .logo {
        font: {
            size: 3em !important;
        }
        color: $color-text-logo;
        margin: 0;
        word-spacing: -8px;
        text-transform: uppercase;
        span {
            color: $color-text;
        }
    }
}

// wrapper
.wrapper {
    min-height: 37.5rem;
    background-image: url(./public/images/wrapper-bg.jpg);
    position: relative;
    overflow: hidden;
    @include setupBackground;
    &-container {
        background-color: rgba($color: $color-text, $alpha: 0.5);
        position: absolute;
        height: 100%;
        width: 200%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 3em;
        align-items: center;
        padding-left: 2rem;
        &>div {
            position: relative;
            // overflow: hidden;
            // border-radius: 15px;
            .wrapper-center-main {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                padding: 2rem 1.5rem;
                background: linear-gradient(100deg, $background-main 30%, rgba(255, 255, 255, 0) 100%, $background-main 50%);
                @include displayFlex(center,
                start,
                false);
                border-radius: 25px;
                &>* {
                    max-width: 40%;
                }
                * {
                    text-transform: capitalize;
                    margin: 0;
                }
                & h1:not(first-child) {
                    text-transform: uppercase !important;
                    font-size: 1rem;
                }
                &>h1:first-child {
                    font-size: 4em;
                    text-transform: capitalize;
                    margin-bottom: 0.5rem;
                    font-weight: 900;
                }
                &>p:first-of-type {
                    font-size: 1em;
                    text-transform: capitalize;
                    margin-bottom: 0.5rem;
                }
                &__score {
                    @include displayFlex(start,
                    stretch,
                    true);
                    &>div {
                        @include displayFlex(start,
                        center,
                        true);
                        margin: .4rem 0;
                        img {
                            width: 1.1rem;
                        }
                        p {
                            margin: 0 .2rem;
                        }
                    }
                    p {
                        margin: 0;
                    }
                }
            }
            img {
                height: 100%;
                border-radius: 25px;
            }
        }
    }
}

// body
.body {
    background-color: $background-main;
}

.services {
    width: 100%;
    &-container {
        width: map-get($max-width, "xl");
        margin: 0 auto;
        padding-top: 2rem;
        padding-bottom: .4rem;
        border-bottom: 3px solid #fff;
        @include displayFlex( stretch,
        flex-start,
        true);
        & p {
            font: {
                size: 1.6em;
            }
            text-transform: capitalize;
            margin-right: 1rem;
        }
    }
}

.filter {
    width: 100%;
    &-container {
        max-width: map-get($map: $max-width, $key: "xl");
        margin: 1rem auto;
        @include displayFlex(stretch,
        center,
        true);
        .select-by {
            margin-left: auto;
            @include displayFlex(stretch,
            center,
            true);
            p {
                margin-right: 1rem;
                font-size: 1rem;
                text-transform: capitalize;
            }
        }
        * {
            margin: 0;
        }
        label {
            margin-right: 2rem;
            margin-left: 1rem;
            text-transform: capitalize;
            font-weight: 900;
            font-size: 1.4em;
        }
        input[type=checkbox] {
            appearance: none;
            width: 1.3rem;
            height: 1.3rem;
            background-color: rgba(255, 255, 255, .4) !important;
            cursor: pointer;
            position: relative;
            border-radius: 3px;
            &::before {
                font-family: "Font Awesome 5 Free";
                content: "\f00c";
                color: #fff;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                font-size: .7rem;
                font-weight: 900;
                visibility: hidden;
                @include displayFlex(center,
                center,
                true);
            }
            &:checked::before {
                visibility: inherit;
            }
        }
        select {
            font-size: 1.6em;
            text-transform: capitalize;
            font-weight: 300;
            font-size: 1.5em;
            height: 2rem;
            width: 7rem;
            background-color: rgba(255, 255, 255, .3) !important;
            color: rgba($color: #fff, $alpha: .6);
            border-radius: 5px;
            padding: 0 .3rem;
        }
    }
}

.movies {
    width: 100%;
    &-container {
        max-width: map-get($map: $max-width, $key: "xl");
        margin: 0 auto;
        &-movies {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 2rem;
            &__movie {
                position: relative;
                &__img {
                    background-color: rgba($color: #fff, $alpha: .2);
                    img {
                        width: 100%;
                    }
                    p {
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-color: red;
                        padding: .2rem 1rem;
                        text-transform: capitalize;
                    }
                }
                &__content {
                    background-color: rgba($color: #fff, $alpha: .2);
                    @include displayFlex(center,
                    center,
                    false);
                    * {
                        margin: 0;
                    }
                    h1 {
                        text-transform: capitalize;
                        font-size: 1.5em;
                    }
                    p:first-of-type {
                        text-transform: uppercase;
                        margin: .3em 0;
                    }
                    &__rate {
                        @include displayFlex(space-between,
                        center,
                        true);
                        margin-bottom: .3em;
                        justify-content: space-between;
                        img {
                            max-width: 1rem;
                        }
                        p:first-of-type {
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
    }
}

.more {
    text-align: center;
    padding: 3rem 0;
    button {
        padding: .4rem 3rem;
        background-color: red;
        color: #fff;
        font-weight: 400;
        font-size: 1rem;
        text-transform: capitalize;
        outline: none;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }
}